.tag-list {
  width: 100%;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.radio-group {
  display: inline-flex;
  flex-direction: row;
}
div.scroll {
  /* width: 600px;
  height: 150px; */
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
